body {
  font-family: arial, sans-serif;
}
h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.page {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadce1;
  border-radius: 5px;
}

.main-data {
  margin-bottom: 20px;
  margin-top: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  position: relative;
  bottom: -19px;
}

.weather-temperature .units {
  position: relative;
  top: -15px;
}
.description {
  position: relative;
  top: 20px;
}
